@media (max-width: 575px) {
	.navbar-brand span {
		font-size:16px;
	}
	.navbar-brand {
		position:absolute;
		left:60px;
		top:3px;
	}
	.custom-navbar-brand span {
		font-size:14px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 1200px) {
	
}